[2019-02-22 10:00] rohitsardesai83 opened #4 "demo: running analytics at edge with Apache Beam"
We can demonstrate how can we perform analytics at the edge using a popular analytics framework , Apache Beam. Currently this analytics engine is not integrated with kube-edge. However , the analytics application used for the demo is deployed to the edge node via Huawei IEF cloud service. In this way , we have shown some level of integration . The idea is to build further on this and come up with

[2019-03-01 08:47] #4 closed

[2019-03-10 05:32] sids-b opened #5 "Use of Opensource Cloud for apache bean demo."
Currently apache beam demo uses IEF for application deployment as when the demo was uploaded cloud was not available for kubeedge. Since cloud is available from v0.2 of kubeedge, dependency of IEF for deploying applications no longer exists.

Apache Beam demo needs to be changed to use opensource cloud.

[2019-03-10 05:33] sids-b commented on #5
@SupriyaSupu , Please help with this.

cc @CindyXing @m1093782566 @rohitsardesai83

[2019-03-10 05:54] m1093782566 opened #6 "Add spiffe integration example"
cc @sids-b

Please find a proper assignee.

[2019-03-10 13:26] sids-b commented on #6
@trilokgm is preparing a demo with spiffe. We shall have it soon

cc @rohitsardesai83

[2019-03-11 06:21] trilokgm commented on #6
/assign

[2019-03-11 11:34] SupriyaSupu commented on #5
I am working on this.

[2019-03-12 12:51] #5 closed

[2019-03-15 03:45] m1093782566 opened #9 "Add kubeedge demo for KubeCon EU 2019"
This demo is used for demo show case in KubeCon EU 2019.

This task should be close by the end of April.

Thoughts for demo cases?

[2019-03-15 03:46] m1093782566 commented on #9
cc @CindyXing @qizha @kevin-wangzefeng @rohitsardesai83 @sids-b

[2019-03-15 05:20] sids-b commented on #9
I was thinking we can put up a smart-city kind of a demo (with 5-8 edge nodes) in which we should be able to show that KubeEdge can be used for
1) Industrial IoT scenarios(Can show temperature sensor reading/analysis + prediction + alerting)
2) HealthCare( I already have a demo with heartrate detection at edge-need to modify a for making it working with kubeedge)
3) Smart City ( can show video sur

[2019-03-18 10:43] tedli opened #10 "Was `apachebeam` intended to use different mqtt topic?"
At publisher side, message published with topic "test"
https://github.com/kubeedge/examples/blob/d813b7bd33d20d4f40fb9c8e5bc75c79e0a89627/KE-Apache-Beam-Analysis/MQTT_Publisher/testmachine.go#L77

Meanwhile, at the subscriber side, it consumed message with topic "alert"
https://github.com/kubeedge/examples/blob/d813b7bd33d20d4f40fb9c8e5bc75c79e0a89627/KE-Apache-Beam-Analysis/MQTT_Subscriber/testma

[2019-03-18 10:45] m1093782566 commented on #10
cc @SupriyaSupu Please take a look.

[2019-03-18 11:03] sids-b commented on #10
@tedli , the testmachine publishes data on the test topic. Apache bean analyzes the data and if the average of a window is above threshold(i guess it is above 90) , the apache bean pipeline publishes an alert message on alert topic which is subscribed by testmachinealert.go for outputting.

[2019-03-18 11:04] tedli commented on #10
Thanks for reply, I got it.

[2019-03-18 11:04] #10 closed

[2019-03-19 09:30] m1093782566 commented on #9
@sids-b

I think the demo should include cloud, edge node and devices.

[2019-03-19 10:14] sids-b commented on #9
@m1093782566 the above demo will include a texas instrument CC2650, RPi camera(maybe multiple) , cloud  will offcourse be used to deploy application/manage edge nodes.

[2019-03-19 10:15] sids-b commented on #9
ping @kevin-wangzefeng @rohitsardesai83 @CindyXing @qizha for your thoughts.

[2019-03-27 02:12] #6 closed

[2019-03-27 17:58] trilokgm opened #11 "Enable certificate rotation in security demo"
In the initial version of security-demo, certificate rotation was not possible due to keystore dependency in ghostunnel. The keystore is generated one-time during deployment and during rotation of certificate and keys, the updated keystore was not being created in the scripts.

Ghostunnel supports two formats of keystore, pkcs12 and single file containing certificate and key.
To generate a single

[2019-03-28 00:46] #11 closed

[2019-04-08 18:06] trilokgm opened #13 "Upgrade security example to support kubeedge v0.2"
Security example needs to be upgraded to kubeedge v0.2 to support cloud components and also enhance scripts based on the cleanup.

[2019-04-10 01:00] #13 closed

[2019-04-18 09:13] m1093782566 opened #15 "Should I run a sub to get the output message from Apache Beam example?"
Reported by cong wang,

Hi,I have tried the KE-Apache-Beam-Analysis example on githuh, after run ./testmachine.what message could I get?should I run a sub to get the output message?

cc @sids-b

[2019-04-18 09:14] m1093782566 commented on #15
@SupriyaSupu Please take a look when you got the chance.

[2019-04-18 11:23] sids-b commented on #15
there is a subscribe file for getting alerts whenever the temperature crosses threshold(i remember it was 90, not sure though. we can check from the output of running this file).
https://github.com/kubeedge/examples/blob/master/KE-Apache-Beam-Analysis/MQTT_Subscriber/testmachinealert.go

[2019-04-19 08:39] congfairy opened #16 "couldn't find suitable file to run about security-demo"
Hi, I have tried to run this example .But what do you mean by
![image](https://user-images.githubusercontent.com/13255322/56415808-6c7f4100-62c1-11e9-812c-e7fb5af02d13.png)
since I could find nothing to run  under /app-binaries/cloud/ folder
![image](https://user-images.githubusercontent.com/13255322/56415844-8f115a00-62c1-11e9-864a-e15a35626386.png).
could anyone help me to explain clearly how to

[2019-04-19 08:41] m1093782566 commented on #16
cc @trilokgm

[2019-04-19 08:41] congfairy commented on #15
@m1093782566 @sids-b thanks a looooot.I have found the right way to catch the result.

[2019-04-19 08:41] congfairy commented on #15
/closed

[2019-04-19 08:46] #15 closed

[2019-04-19 09:09] trilokgm commented on #16
@congfairy , can you run build-release package? build-release script needs to be executed from the clone directory. The scripts builds all required applications and copies to release folder. Later this folder should be copied to /opt/ and renamed to /opt/spire/ . I will update the same in readme. Let us know if any more issues are seen.

[2019-05-07 06:11] sujithsimon22 opened #17 "Update led-raspberrypi demo to make use of device CRD"
Update the code in led-raspberrypi demo to make use of device CRD feature of kubeedge

[2019-05-30 11:55] #17 closed

[2019-06-04 12:19] sujithsimon22 opened #20 "Add KubeEdge demo with bluetooth protocol"
Demonstrate the bluetooth protocol support of kubeEdge

[2019-06-13 12:31] gilles537 opened #22 "Question about the Raspberry pi example"
I have followed the guide and now i have the deployments running but the pod keeps crashing. When i check the actual container the logs says:

I0613 14:02:34.782924       1 light_mapper.go:168] Changing the state of the device to online
I0613 14:02:34.784542       1 light_mapper.go:242] Watching on the device twin values for device: led-light-instance-01
panic: runtime error: invalid memory addres

[2019-06-16 04:46] JackyWangCN opened #23 "Add kubeedge Demo for Hi3559AV100 or any HiSilicon IS"
Does kubeedge support run in Linux or LiteOS on Hi3559AV100 ?

[2019-06-16 06:20] sujithsimon22 commented on #22
@gilles537 This problem is caused since the desired value has not been set yet. We have to set the desired value for "power-status" in the device instance
 I'll raise a PR for the error handling here & edit the device instance placed at "led-raspberrypi/sample-crds/led-light-device-instance.yaml" to include the desired value

[2019-06-18 10:11] gilles537 opened #25 "Bug with the raspberry pi example"
The pod seems to be running fine and seems to be detecting changes in the led value after PR: https://github.com/kubeedge/examples/pull/24. But now there is a problem with reading the gpio-number from the configmap. After running the code ```glog.Info(pinNumber)``` right before the call ```lightdriver.TurnOff(pinNumber)``` i read the output 0. So the light isn't turning on.

[2019-06-18 10:12] #22 closed

[2019-06-18 10:13] sujithsimon22 commented on #25
Nice catch @gilles537

[2019-06-21 15:28] #20 closed

[2019-06-22 20:58] mg9 opened #28 "Desired property replicates for each field in CRD"
Hello,

I was trying to change the led-mapper example to integrate device twins with my another application.
When I try to change multiple expected values in instance.yaml of device, the updated document is formed with only last desired value for all properties. Does instance CRD support only one desired field ?

What I mean,

My instance.yaml:

apiVersion: devices.kubeedge.io/v1alpha1
kind: Devic

[2019-06-24 06:57] sujithsimon22 commented on #28
Hi @mg9 are u testing with the latest code ? Is this issue https://github.com/kubeedge/kubeedge/issues/662 similar to what u are facing?

[2019-06-25 09:48] #25 closed

[2019-07-02 20:00] mg9 commented on #28
Yes sorry latest code fixed my problem, thank you!

[2019-07-02 20:00] #28 closed

[2019-08-28 09:36] joeblew99 opened #30 "Upgrade Rasp Pi to v4"
The code here https://github.com/kubeedge/examples/blob/master/led-raspberrypi/light_driver/light_driver.go

can be upgraded to use periph here: https://github.com/google/periph

It now supports rasp pi v4
rasp pi v4 has a new Virtualisation instruction set ISA and so is muh faster running docker machines also btw.

[2019-08-28 09:45] fisherxu commented on #30
@joeblew99 Thanks for your suggestion.

[2019-08-28 09:46] fisherxu commented on #30
Will you help raise a PR to fix it?

[2019-08-28 11:20] joeblew99 commented on #30
@fisherxu I can find an exact example for it.

[2019-08-28 11:27] joeblew99 commented on #30
The code is here:
https://periph.io/device/led/

[2019-08-28 11:32] joeblew99 commented on #30
can i get access to slack ?

[2019-08-28 12:02] fisherxu commented on #30
Have you been in the kubedge slack workspace? can ping me   `xufei` @joeblew99

[2019-08-29 23:48] joeblew99 commented on #30
no because i dont have an invite to that slack workspace.
 I cant ping you  because i dont have an invite to slack.

[2019-08-30 03:45] fisherxu commented on #30
https://join.slack.com/t/kubeedge/shared_invite/enQtNjc0MTg2NTg2MTk0LWJmOTBmOGRkZWNhMTVkNGU1ZjkwNDY4MTY4YTAwNDAyMjRkMjdlMjIzYmMxODY1NGZjYzc4MWM5YmIxZjU1ZDI

@joeblew99  This is the invite link. Thanks for join :)

[2019-08-30 09:43] joeblew99 commented on #30
thanks !

[2019-09-10 03:29] chace20 opened #32 "How kubeedge-web-demo can work?"
I follow the instruction to setup kubeedge-web-demo, but pi-player-app can't receive any message from topic when I click play on web, so nothing can play.

I wonder it's any config apply to speaker? I'm confused about device and devicemodel...

**the log of kubeedge-web-app**
[code]

But nothing happen on pi-player-app...
**the log of pi-player-app**
[code]

[2019-09-10 07:30] chace20 commented on #32
It seems has to modify device selector.
[code]

[2019-09-10 07:30] #32 closed

[2020-01-08 10:03] daqiangzi opened #36 "温度传感器通过mqtt无法正常获取。"
kubeedge-v1.1.0，温度传感器mqqt发送，不成功，请确认原因.
步骤1：
kubectl apply -f devicemodel.yaml
==========================================================
apiVersion: devices.kubeedge.io/v1alpha1
kind: Device
metadata:
  name: temperature
  labels:
    description: 'temperature'
    manufacturer: 'test'
spec:
  deviceModelRef:
    name: temperature-model
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressio

[2020-01-08 10:22] fisherxu commented on #36
看下edgecore的日志，是否收到了publish到mosquitto的消息，如果edgecore收到了，再看一下cloudcore是否收到了 ：） @daqiangzi

[2020-01-09 07:19] daqiangzi commented on #36
edgecore日志中没有收到mosquitto的消息，请确认一下上面修改是否正确。

[2020-01-09 08:14] daqiangzi commented on #36
edgecore日志中没有收到

[2020-01-10 09:21] daqiangzi commented on #36
@fisherxu
写了一个应用程序，模拟往mqqt里发送数据，就正常获取到了。谢谢。

[2020-01-10 09:21] #36 closed

[2020-01-16 11:04] wangwei5732 opened #37 "/opt/kubeedge/deviceProfile.json: no such file or directory"
when i run light_driver.go,by `go run light_mapper.go`,Error:
`E0116 19:03:18.082379    8173 light_mapper.go:121] Error while reading from config map Error while reading from config map open /opt/kubeedge/deviceProfile.json: no such file or directory
exit status 1`

[2020-02-26 02:18] wangwei5732 opened #38 "如何能在容器中访问接入的设备？"
请问如何能够在容器中访问挂载在树莓派上的设备。

[2020-02-26 06:55] fisherxu commented on #38
容器里可以访问到类似于gpio的，具体是什么样的设备呢？:) @wangwei5732

[2020-02-28 08:15] wangwei5732 commented on #38
我按照led-raspberrypi，的步骤操作，打的镜像运行以后提示找不到设备，报错。我想问下还需要额外的操作或者配置吗？

[2020-03-03 13:00] latelee commented on #38
@wangwei5732，可以单独测试镜像运行情况，即脱离kueedge环境。我记得要进行设备的映射，还要为容器提供特权。

[2020-03-03 21:40] dingyin opened #39 "Build a sample application to run OpenCV on KubeEdge platform"
OpenCV (Open source computer vision) is a library of programming functions mainly aimed at real-time computer vision. OpenCV runs on the mobile OS too.

To demonstrate KubeEdge platform, we need to build a  sample application to run OpenCV on KubeEdge platform, ideally running inference on the edge and training on the cloud, showing cloud-edge collaboration.

[2020-03-12 23:05] dggonz opened #40 "Can't read temperature-status messages on kubeedge-temperature-demo"
I have tweaked the demo to produce random numbers without actually needed a temperature sensor. I compiled and deployed it and it seems to be working.

I hooked mosquitto_sub to the '$hw/#' topic and what I get is the following:
$hw/events/device/temperature/twin/update {"event_id":"","timestamp":0,"twin":{"temperature-status":{"actual":{"value":"23C"},"metadata":{"type":"Updated"}}}}
$hw/events/d

[2020-03-13 19:05] christyjacob4 commented on #39
@dingyin I'd like to work on this as part of GSOC 2020
I'm thinking of implementing a website like https://teachablemachine.withgoogle.com/train that will enable us to train on the cloud and run inference on the edge.

I've worked with Deep learning and computer vision projects before and you can have a look at this https://handwriting-recognition.netlify.com/#/

[2020-03-17 03:50] dingyin commented on #39
@christyjacob4 Cool. Can you come up with a proposal with more details?

[2020-03-17 03:55] christyjacob4 commented on #39
@dingyin  Yes i'm working on it. Can you tell me where I can reach out for help? Is the KubeEdge Slack channel the right place??

[2020-03-22 11:57] latelee commented on #37
I got the same issue too.

[2020-03-23 03:40] fisherxu commented on #37
when we create the devicemodel, the devicecontroller in cloudcore will create a configmap which will be used in mapper(pod) in edge node. Please check whether devicecontroller has create the configmap.

[2020-03-24 23:59] dggonz commented on #40
The issue has been fixed by a commit a few days ago

[2020-03-24 23:59] #40 closed

[2020-03-29 12:43] Urhengulas commented on #39
Hello @dingyin
I would also love to work on this as part of GSOC2020. Should I send you my proposal before the deadline or post it here?

[2020-03-29 23:28] dingyin commented on #39
@Urhengulas Great. We set up a new channel #summer-of-code in KubeEdge Slack. You are welcome to join the channel to discuss the proposal etc.

[2020-03-30 08:57] keisuke-maesako opened #42 "Is the arch on the docker image for the temperature demo correct on amd64?"
I want to run a temperature demo.
I built and pushed from dockerfile according to the readme.
Checking dockerhub, the OS / ARCH column is linux / amd64.
I think this doesn't work with Raspberry Pi, but is something wrong?

[2020-04-15 04:19] dingyin commented on #39
@christyjacob4 @Urhengulas Do you get your proposal ready?

[2020-04-16 14:16] astoycos commented on #39
@dingyin I would love to help out with this as well, More specifically I am interested in the Live Edge Video Streaming/Analytics use case where as you suggested, analytics would occur on the edge node and general training would revert back to the cloud.  Do you think that use case would be in the scope of this issue?

[2020-04-16 16:43] ijelliti commented on #39
@dingyin I would love work on this project. I have used OpenCV on many data-science projects before

[2020-04-30 05:28] dingyin commented on #39
@astoycos @ijelliti Great. Are you guys in KubeEdge Slack? We can chat more details.

[2020-04-30 11:49] ijelliti commented on #39
@dingyin yes I am. Any specific slack channel for this topic.

[2020-04-30 17:27] astoycos commented on #39
I am as well @dingyin

[2020-05-11 11:59] happyhq opened #44 "When apply “KE-Apache-Beam-Analysis”, there will be a problem that cannot connect to 127.0.0.1:1883"
when I use "kubectl apply -f examples/KE-Apache-Beam-Analysis/KE-Apache-Beam-Deployment.yam".I can't success.
I find the proble is the container can't  "connect to 127.0.0.1:1883"

[2020-05-12 04:47] happyhq commented on #38
能够具体描述一下场景么？

[2020-05-22 01:39] sanbaideng opened #46 "there is no README.MD in traffic-light demo"
hi,there is no README.MD in traffic-light demo,
i want to try this demo,but don't know how to do it

[2020-05-29 07:45] sanbaideng opened #47 "kubeedge/kubeedge-web-app镜像没有"
no docker image:kubeedge/kubeedge-web-app
in demo:kubeedge-web-demo

[2020-06-28 01:04] daixiang0 commented on #47
See https://github.com/kubeedge/examples/blob/master/kubeedge-web-demo/kubeedge-web-app/Dockerfile, it need to be built by yourself.

[2020-07-09 08:39] yzhao66 opened #51 "Build main.go failure"
when i run this example

![image](https://user-images.githubusercontent.com/44268973/87017526-ab6d1f80-c202-11ea-9f85-ab054fa338f8.png)

[2020-07-10 09:20] yzhao66 opened #52 "When i apply pod traffic-light pod ,the still keep pending status."
![image](https://user-images.githubusercontent.com/44268973/87138869-a4611280-c2d1-11ea-8d0b-1208536d15b8.png)
How to slove it ?

[2020-07-10 09:27] gitlijian commented on #51
需要用docker编译：
我参考的这篇博客，希望对你有帮助

[2020-07-10 09:30] yzhao66 commented on #51
有用过kubeedge-traffic-light吗

[2020-07-10 09:33] gitlijian opened #53 "edge ：connect error: Not Authorized"
edge side shows connect error: Not Authorized
![image](https://user-images.githubusercontent.com/15320599/87139632-e50d5b80-c2d2-11ea-8534-0269ba41320e.png)
cloud side shows Works fine
![image](https://user-images.githubusercontent.com/15320599/87139993-5cdb8600-c2d3-11ea-9ba7-06ccb0f1ee43.png)
![Uploading image.png…]()
anyone can help me address the problem?

[2020-07-10 09:38] gitlijian commented on #51
没有，我还在用温度这个demo时遇到了些问题。

[2020-07-21 05:53] YoshieraHuang opened #54 "Upgrade all examples to go module"
I am new to kubeedge and I see many examples are governed by dep. Dep is already deprecated and go module does well. Need some help?

[2020-07-21 06:16] fisherxu commented on #54
@YoshieraHuang  Sure, and now every example have one vendor, we can use one vendor for all the examples.

[2020-07-21 06:55] zhangweidongyyl opened #55 "kubeedge-pi-counter can not connect to edge?"
kubeedge-pi-counter can not connect to edge ,the detail msg is
Error from server: Get https://XXXX:10350/containerLogs/default/kubeedge-pi-counter-86576974c8-9mxjm/kubeedge-pi-counter?follow=true: dial tcp XXXX:10350: connect: connection refused
kubeedge has wechat group or other contact information ，The document is poorly written ?

[2020-07-21 06:56] zhangweidongyyl commented on #54
You can use it go.mod Manage the project and package it. That's what I do

[2020-07-21 07:38] YoshieraHuang commented on #54
I meet a problem. modules `kubeedge/beehive` and `kubeedge/viaduct` with latest version are now replaced as inset modules in `kubeedge/kubeedge` and cannot be easily accessed in this repository. Although we can `go get` this two modules with previous version, the previous version is not compatible with 1.3.1. The compatibility cause this error:
[code]
when I build `kubeedge-traffic-light`. Will be

[2020-07-22 01:10] zhangweidongyyl commented on #55
someone knows how to resolve this question

[2020-08-12 03:52] luotian-github opened #58 "kubeedge-pi-counter: Update twin rejected due to the device counter is not existed"
Kubeedge-pi-counter failed to update devicetwin:

[root@192 ~]# kubectl get device counter
NAME      AGE
counter   23m

start kubeedge-pi-counter, it seems the update can not reach the devicetwin, the following are logs in edge:
[code]

[2020-08-12 07:13] zqzzq opened #59 "validation failure list: spec.properties.type.int.accessMode in body should be one of [ReadOnly ReadWrite]"
[code]

[2020-08-12 07:13] #59 closed

[2020-08-17 09:45] Ranguo956 commented on #44
hello,I want to run this example on  my kubeedge environment.but ,i  was failed. do you run it successfully?

[2020-08-24 06:52] luotian-github commented on #58
config error, close this issue

[2020-08-24 06:52] #58 closed

[2020-08-27 16:29] BrukT opened #62 "package not available"
I am trying to build the image for the web part of the counter example. But my go environment can't find the "github.com/kubeedge/kubeedge/cloud/pkg/devicecontroller/apis/devices/v1alpha1" package which is imported to one of the codes. can any body help me solve this problem?

Thanks in advance.

[2020-08-27 16:55] BrukT opened #63 ""Update rejected due to the device is not existed" on kubeedge-temperature-demo"
I know an almost similar issue has been posted and some bug was fixed in the past. But I am facing almost the same problem right now.

I manually set the temperature value myself. I have hooked in to  '$hw/#' topic and found the following log:

$hw/events/device/temperature/twin/update {"event_id":"","timestamp":0,"twin":{"temperature-status":{"actual":{"value":"10C"},"metadata":{"type":"Updated"}

[2020-08-28 01:01] BrukT commented on #63
I have updated my yaml files and it is working fine now.

[2020-08-28 01:01] #63 closed

[2020-09-02 02:17] zhangweidongyyl opened #64 "kubeedge-counter-demo cannot run on kubeedge-1.4.0"
it has no error on log,bug when i click on ,my edge side can not accept any message, it can not trigger code.  is a question  ,maybe a bug

token := cli.Subscribe(topic+"/document", 0, func(client mqtt.Client, msg mqtt.Message) {
		fmt.Println("enter get msg",msg)
		Update := &types.DeviceTwinDocument{}
		err := json.Unmarshal(msg.Payload(), Update)
		if err != nil {
			fmt.Printf("Unmarshal error

[2020-09-14 15:03] zhangyang1997 opened #65 "KubeEdge Counter Demo is not working properly"
**What happened**:
KubeEdge Counter Demo is not working properly
**What you expected to happen**:
use [kubectl get pods -o wide] can get ke-edge1's IP and use [docker logs -f counter-container-id] can get count value.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`): v1.4.0
**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):Intel(R) Xeon(R) Gold 6126 CPU @

[2020-09-15 05:53] zhangyang1997 opened #66 "【counter】Failed to patch device status"
when I click on button，get a error
docker logs f127dbffa472(k8s_kubeedge-counter-app_kubeedge-counter-app)

![p5](https://user-images.githubusercontent.com/22254602/93170948-c310d900-f75a-11ea-9e3a-466a54f71b4f.png)

[2020-09-16 11:45] zhangyang1997 commented on #66
![p6](https://user-images.githubusercontent.com/22254602/93332925-2a12b880-f855-11ea-87c4-8f119213e309.png)

[2020-09-29 02:10] donggangcj commented on #66
是device版本导致的，请问这个问题什么时候能修复？

[2020-10-12 05:07] robertzhouxh commented on #66
kubeadm: 1.18.3
kubernetes: 1.18.3
CNI: weave
kubeedge: local deployment with master branch,

test: github.com/kubeedge/examples/kubeedge-counter-demo

     root@master-1:~# kubectl get pods -n kube-system
    NAME                               READY   STATUS    RESTARTS   AGE
    coredns-546565776c-8c2rn           1/1     Running   0          4h22m
    coredns-546565776c-sgscr           1/1     R

[2020-10-22 09:42] wzq12345678 opened #69 "led项目 k8s pod跑不起来 打包的容器不显示任何日志但是up起来了 但不显示任何日志"
脱离kubeedge 跑 显示 rror is Network Error : dial tcp [::1]:1884: connect: connection refused
但是我的mqtt只开了1883 小白一个  这个怎么解决

[2020-10-23 03:41] zhangyang1997 commented on #66
Has anyone solved this problem？Is this project now unmaintained?

[2020-10-27 01:11] wzq12345678 opened #70 "kubeedge-temperature-demo can not get data to cloud"
I can subscribe to data from the side theme ($HW / events / device / + / Twin / update), but I can't display it in the cloud

[2020-10-27 11:16] yiye93 commented on #65
请问怎么解决的，我遇到一样的问题了

[2020-10-28 02:44] yiye93 commented on #66
I also encountered this problem，has anyone solved this problem？

[2020-10-28 03:20] mxtsuper opened #71 "Run RPI Temperature demo error, can not create the device model"
Hello,
I am trying the RPI temperature demo.
When applying the device model (devicemodel.yaml), I got some errors.
Please need some supports on this error.
Thanks

 error: unable to recognize "devicemodel.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alpha2"

I am using the kubeedge 1.4.0, kubernetes v1.17.8

[2020-10-28 07:13] wzq12345678 opened #72 "i can get temperature but i can not get humidity when i definition humidity-status propertyName in devicemodel.yaml and device.yaml"

[2020-10-28 07:23] wzq12345678 commented on #72
i also push humidity to mqtt in edgenode ,so  how i can solve the problem about this

[2020-10-28 08:48] daixiang0 commented on #72
cc @luogangyi

[2020-11-06 08:31] xiaobojiang opened #73 "Is there an elegant way to edit device CRD properties except kubectl edit device XXX?"
Hi,
I am playing with the example of led-raspberrypi.
In order to control the LED, the manual said that it can be done by modifying the device CRD.
It works with$ kubectl edit led-light-instance-01 , and edit expected properties.
but in real application, is there any api or MQ to cloud app to manage the device CRD.

Thanks

[2020-11-09 06:43] zhanglt commented on #55
[root@master crds]# kubectl  logs -f kubeedge-pi-counter-68c86dc747-lrgdq
Error from server: Get "https://10.0.0.62:10350/containerLogs/default/kubeedge-pi-counter-68c86dc747-lrgdq/kubeedge-pi-counter?follow=true": dial tcp 10.0.0.62:10350: connect: connection refused
------edge node-------------
[root@edge ~]# netstat -luntp  |grep 10350
tcp        0      0 127.0.0.1:10350         0.0.0.0:*

[2020-11-11 08:56] #71 closed

[2020-11-13 02:19] xiaobojiang commented on #73
k8s client is the solution.
get and patch the resource can work on this

[2020-11-13 02:19] #73 closed

[2020-11-17 10:48] tkzkno opened #74 "bluetooth-CC2650 containercannotrun"
follow [https://github.com/kubeedge/examples/tree/master/bluetooth-CC2650-demo](url)

`$ kubectl get pod -owide`
[code]

`$ kubectl describe pod `
[code]

cloudcore : intel NUC ( ubuntu )
edgecore : raspberry pi 4 ( armv7l )

please help me ...

[2020-11-18 08:58] #74 closed

[2020-12-03 08:40] johnp41 commented on #66
Did anyone solved this  ?

[2020-12-11 09:24] swartz-k opened #86 "is there any necessity save static js to local"
Hey，I jus setup a kubeedge cluster，wanna try some demo like `kubeedge-counter-demo`，but got some err
1. because my network problem，it`s tooo slow load [jquery-1.10.2.min.js](https://code.jquery.com/jquery-1.10.2.min.js)

2. from some unknown reasons, i got error
![image](https://user-images.githubusercontent.com/49771587/101885188-c2aaa180-3bd4-11eb-9d53-5d695801b84b.png)

For user especially for

[2020-12-11 09:43] swartz-k commented on #62
got same error，set `export GO111MODULE=auto` and try again

[2020-12-11 09:56] bluntWu commented on #65
edit /etc/kubernetes/manifests/kube-apiserver.yaml
 --insecuret-port=8080
 --insecure-bind-address=0.0.0.0
restart

[2020-12-11 09:57] bluntWu commented on #86
My local project has been set up like this

[2020-12-11 09:58] swartz-k commented on #66
while running counter demo，i solved `KubeMaster`、`Kubeconfig` problem by change code to fit my cluster，and then i got failed
[code]

[2020-12-11 10:24] swartz-k commented on #65
the quickesty way, i think； file: `examples/kubeedge-counter-demo/web-controller-app/utils/kubeclient.go` should be edit like this

[code]

and copy admin.conf to your container；file`examples/kubeedge-counter-demo/web-controller-app/Dockerfile` add line
[code]

the better way is get permission by clusterrole && clusterrolebinding && serviceaccount，i think this demo has a better way to update CR，if

[2020-12-11 13:29] DapengLan commented on #65
I got the issue that the port is in use by the Kube-api. any suggestions? thanks

2020/12/11 13:22:23 Get kubeConfig successfully
2020/12/11 13:22:23 Get crdClient successfully
2020/12/11 13:22:24.001 [I]  http server Running on http://:8089
2020/12/11 13:22:24.001 [C]  ListenAndServe:  listen tcp :8089: bind: address already in use

[2020-12-11 14:27] swartz-k commented on #65
maybe you should check deployment，`hostNetwork: true` i delete it and didn`t get error

[2020-12-11 14:31] swartz-k commented on #64
i use this demo，get errors below
1. in browser console，load jquery.js failed；i save it to local
2. x509 to get self provide tls；i add `rest.TLSClientConfig{Insecure: true}`
3. KubeMaster、Kubeconfig not validate；create clusterole & serviceaccount and use `rest.InClusterConfig`
4. （maybe not important）change restful http client to dynamic client，and use `schema.GroupVersionResource`

[2020-12-11 14:33] swartz-k commented on #51
u need covert this to go mod or refer pr

[2021-01-08 11:34] beyondyinjl2 opened #88 "kubeedge-counter-demo Click counter is error"
docker logs -f 708687d34153(kubeedge-counter-app Container id)
The error is as follows:
2021/01/08 02:14:43 ControlTrack: ON
2021/01/08 02:14:43 Failed to patch device status &{{[{status {ON map[timestamp:1610 type:string]} {0 map[timestamp:1610 type:string]}}]}} of device counter in namespace default
 error:the server could not find the requested resource (patch devices.devices.kubeedge.io counte

[2021-01-08 12:21] kevin-wangzefeng commented on #88
/assign @daixiang0

[2021-01-09 00:16] daixiang0 commented on #88
@beyondyinjl2 hi, please check out latest codes and follow readme again, there is a fix for this.

[2021-01-12 08:37] beyondyinjl2 opened #89 "opc ua collection example"
Can you provide an opc ua collection example

[2021-01-13 01:42] daixiang0 commented on #72
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:43] daixiang0 commented on #30
@joeblew99 any update for this?

[2021-01-13 01:43] daixiang0 commented on #37
/close

[2021-01-13 01:43] #37 closed

[2021-01-13 01:44] daixiang0 commented on #39
@dingyin @ibrahimjelliti @astoycos is it still in process?

[2021-01-13 01:45] daixiang0 commented on #42
Please see the latest README, there is an image for arm and one for amd64.

/close

[2021-01-13 01:45] #42 closed

[2021-01-13 01:46] daixiang0 commented on #46
Now it exists.
/close

[2021-01-13 01:46] #46 closed

[2021-01-13 01:47] daixiang0 commented on #52
Please try the latest example to confirm this issue exists or not, thanks :)

Also, check the image exists on the edge node or not.

[2021-01-13 01:47] daixiang0 commented on #53
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:48] daixiang0 commented on #53
It has been fixed, please try the latest example with latest KubeEdge.

/close

[2021-01-13 01:48] #53 closed

[2021-01-13 01:48] daixiang0 commented on #54
Now it has been fixed.

/close

[2021-01-13 01:48] #54 closed

[2021-01-13 01:51] daixiang0 commented on #55
Seems you do not enable LOGS feature on the edge, you can refer to this [doc](https://github.com/kubeedge/kubeedge/blob/release-1.5/docs/setup/keadm.md#enable-kubectl-logs-feature)

/close

[2021-01-13 01:52] #55 closed

[2021-01-13 01:52] daixiang0 commented on #62
/close

[2021-01-13 01:52] #62 closed

[2021-01-13 01:52] daixiang0 commented on #64
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:53] daixiang0 commented on #65
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:53] daixiang0 commented on #66
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:54] daixiang0 commented on #69
You can change the value `1884` to `1883` then it will work.

[2021-01-13 01:54] daixiang0 commented on #70
Please try the latest example to confirm this issue exists or not, thanks :)

[2021-01-13 01:55] daixiang0 commented on #47
/close

[2021-01-13 01:55] #47 closed

[2021-01-13 01:55] daixiang0 commented on #51
Now it has moved to Go Module. :)

/close

[2021-01-13 01:55] #51 closed

[2021-01-13 01:56] daixiang0 commented on #69
/close

[2021-01-13 01:56] #69 closed

[2021-01-13 01:58] daixiang0 commented on #52
/close

[2021-01-13 01:58] #52 closed

[2021-01-13 01:58] daixiang0 commented on #38
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 01:59] #38 closed

[2021-01-13 01:59] daixiang0 commented on #70
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 01:59] #70 closed

[2021-01-13 01:59] daixiang0 commented on #66
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 01:59] #66 closed

[2021-01-13 02:00] daixiang0 commented on #65
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 02:00] #65 closed

[2021-01-13 02:00] daixiang0 commented on #64
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 02:00] #64 closed

[2021-01-13 02:01] daixiang0 commented on #72
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 02:01] #72 closed

[2021-01-13 02:02] daixiang0 commented on #88
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

[2021-01-13 02:02] daixiang0 commented on #16
Please try the latest example to confirm this issue exists or not, it works at my env, thanks :)

If it still exists, please reopen it!

/close

[2021-01-13 02:02] #16 closed

[2021-01-13 08:46] ibrahimjelliti commented on #39
@daixiang0 for me its not in process

[2021-01-14 00:52] beyondyinjl2 commented on #88
ok

[2021-01-14 00:52] #88 closed

[2021-01-22 06:55] daixiang0 opened #90 "discuss about examples maintain issue"
Now KubeEdge has many examples, while they are not updated as soon as the new version release, which results in some examples fail to run and new users are confused about those failures.

Due to some examples are complicated and need more expertise, could `kubeedge/examples` only store repo links of those examples? On one hand, the example owner has more expertise to maintain it, on the other hand

[2021-01-22 06:56] daixiang0 commented on #90
/kind feature

[2021-01-28 17:51] azdagron opened #91 "Security Demo relies unnecessarilly on spiffe-helper"
The Identity Management Using SPIRE for Kubeedge demo places the spiffe-helper between Ghostunnel and SPIRE agent in order to allow Ghostunnel to consume resources off of the SPIFFE Workload API. While this was necessary in the past, Ghostunnel has had first-class support for the SPIFFE Workload API for since the middle of 2019.

The architecture of the demo can be simplified greatly by removing t

[2021-01-31 03:14] s099064146 commented on #90
This sounds awesome!
I have no advice but I just want to express the appreciation for this advice.
Thank you for your support all the time. 👍 😊 👏

[2021-02-01 01:35] daixiang0 commented on #90
/lifecycle forzen

[2021-02-18 09:40] marviniter opened #92 "kubeedge-counter-demo device status not update when change the device crd resource"
View the web app page current status is "ON" and query status is "ON",after execute kubectl apply -f kubeedge-counter-demo/crds/kubeedge-counter-instance.yaml for some config adjust  the query status is "OFF" and execute "ON" not work the status is also "OFF".
I have check the web-controller-app container log but there also no error log.

[2021-04-16 09:43] gy95 opened #97 "kubeedge-edge-ai-appplication face-recongition pod failed"
/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.5/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (ty

[2021-04-21 07:02] gy95 commented on #97
close.

[2021-04-21 07:02] #97 closed

[2021-05-12 01:43] guanchaoli opened #98 "The CloudCore hungs up even if I use the nohup command"
Environment information:
OS: CentOS Linux release 7.9.2009
Kubernetes Version: KubeSphere 3.0 @ Kubernetes 1.17.9

Description:

I tried to apply the CloudStream feature and followed the documentation to restart the cloudcore using
`nohup cloudcore > cloudcore.log 2>&1 &`
However, after I stop the ssh session, the cloudcore is still hung up with the following logs:
[code]

Expected result:
The clo

[2021-05-12 02:11] #98 closed

[2021-05-19 12:03] flixgithub opened #99 "kubeedge web app demo can not be done on the aliyun and raspberry pi 4"
1. edge node on the raspberry pi 4 can connect to cloudcore which is on the aliyun Kubenetes cluster node
2. when kubectl apply -f kubeedge-web-app.yaml the web page also can be reached
3. the pi-player-app command is running on the edge raspberry pi 4  node successfully
4. but web app console log show error and music can not be played in the edge raspberry pi 4 node

i have no idea why always crd

[2021-07-19 03:39] KosukeKondo0527 commented on #44
I also fail to connect to localhost:1883
This Apache Beam App is running on Pod container on k8s, But MQTT Server is running on the Node VM
Doesn't the Pod have connection to Node Machine?

[2021-08-09 06:59] haoguangyu opened #100 "traffic-light need a configmap “device-profile-config-raspberrypi”，but not upload"
In examples/traffic-light/deploy.yaml,defined:
      volumes:
      - name: config-volume
        configMap:
          name: device-profile-config-raspberrypi
but did not upload configmap file

[2021-08-09 07:10] #100 closed

[2021-08-09 07:17] haoguangyu commented on #100
https://github.com/kubeedge/examples/issues/37

[2021-08-09 14:15] slomo28 opened #101 "kubeedge-counter-demo:Kubeedge -pi-counter is always pending"
I want to run 'kubeedge-counter-demo', but 'Kubeedge -pi-counter' is pending in the end

[2021-08-18 07:34] punkmonday opened #102 "kubeedge-counter-demo no working on kubeedge 1.6.2"
kubectl create -f kubeedge-counter-model.yaml
error: unable to recognize "kubeedge-counter-model.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alpha2"

[2021-08-18 09:06] fisherxu commented on #102
You need to check whether the crds `devicemodels.devices.kubeedge.io` and `devices.devices.kubeedge.io` have been created in the K8s master.

[code]

[2021-08-24 09:53] assdddddff opened #103 "pi-counter can't run at edge"
edgenode:
[root@kubeedge home]# docker images
REPOSITORY                     TAG       IMAGE ID       CREATED             SIZE
kubeedge/kubeedge-pi-counter   v1.0.0    61a56ce09cd4   About an hour ago   83.4MB

[root@kubeedge home]# docker run kubeedge/kubeedge-pi-counter:v1.0.0
network Error : dial tcp 127.0.0.1:1883: connect: connection refused
not Connected

why I can't run this image?

[2021-08-24 13:48] #103 closed

[2021-09-01 03:45] punkmonday commented on #102
2021/08/20 07:24:00 Failed to patch device status &{{[{status {ON map[timestamp:1629 type:string]} {1 map[timestamp:1629 type:string]}}]}} of device counter in namespace default
 error:the server could not find the requested resource (patch devices.devices.kubeedge.io counter)

[2021-09-01 04:22] punkmonday commented on #102
when i change version v1alpha1 to v1alpha2
[code]
so i changed to v1alpha1 it is work, but docker logs error:

[code]

[2021-09-01 05:16] punkmonday commented on #102
i got it , it works , i delete the v1alpha1 version and create v1alpha2
[code]

[2021-09-01 08:27] a732264856 commented on #39
I am very interested in knowing your question. Where can I find more detailed information?

[2021-09-02 01:22] #102 closed

[2021-09-07 05:42] 916264367 opened #104 "What is the principle of its implementation"
There are four .yaml files in the CRD file,For example,  kubeedge-counter-model.yaml, what is its function.  And the other three. Yaml files? I want understand its principle and create other functions.My English is very poor and hope you will not mind it!

[2021-09-09 03:35] a732264856 opened #105 "kubeedge -edge-ai-application"
In the process of deploying this case, every time the faceRecongDeployment.yaml file is deployed, the pod will be successfully allocated to the node, but the pod will always switch between error and running. Why is this? Can this deployment document be written in more detail?

[2021-09-23 01:52] Sullivan12138 commented on #71
Hi, I've met the same error too. How did you fix this?

[2021-09-23 03:20] Sullivan12138 opened #106 "error: unable to recognize "kubeedge-counter-model.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alpha2""
Hi, I was trying to test the kubeedge-counter-model example on my kubeedge master node, my cluster has got 3 ndoes. I followed the instructions on the README.md. But when I executed the following command
`kubectl create -f kubeedge-counter-model.yaml`
I got this error:
`error: unable to recognize "kubeedge-counter-model.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alp

[2021-11-03 03:12] EthanAlban opened #108 "kubeedge-pi-counter-784d57c5d4-d7tw7 0/1 ContainerCreating"
- what happended: I'm trying to use kubeedge-counter-demo to test device control ,however when I follow the guideline in the webpage to create the counter device the status of its pod remain ContainerCreating
- problem description:
[code]

[2021-11-03 05:31] EthanAlban commented on #108
the images should be in edge node

[2021-11-03 05:31] #108 closed

[2022-03-16 12:21] Aix6 commented on #102
请问是参考这两个来修改 example 里的吗？不是直接使用这两个连接里的配置文件创建吧？我看这里面的配置比 example 里多太多了

[2022-03-16 12:27] Aix6 opened #110 "error:the server could not find the requested resource (patch devices.devices.kubeedge.io counter)"
kubectl create -f kubeedge-counter-model.yaml
error: unable to recognize "kubeedge-counter-model.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alpha2"

so i changed to v1alpha1 it is work, but docker logs error:

error:the server could not find the requested resource (patch devices.devices.kubeedge.io counter)

[2022-03-17 03:35] #110 closed

[2022-04-19 04:15] cheyuexian opened #112 "who send mqtt message to topic"
i find the cloud app code is just update the device status, and the edge app just subcribe the mqtt topic.
i want to know,who send message to mq topic? kubeedge controller or cloudapp self.
thanks

[2022-04-20 02:35] RyanZhaoXB commented on #112
hello. the cloud app updates the device status to kube-apiserver and the module of device controller in cloudcore will watch the modification and send it to the edgecore through cloudhub. the module of devicetwin in edgecore will rebuild the message and send it to the mq topic through event bus.

[2022-04-20 04:25] cheyuexian commented on #112
thanks
but how the edgecore known which topic to send?

[2022-04-21 13:59] EnableAsync opened #114 "bug: example led-raspberrypi unable to open gpio on Raspberry Board 4"
Hi, I found a bug in led-raspberrypi. When I run it I get the following:
[code]

The bug comes from go-rpio[1][2]. So should this bug be fixed (I would be happy to submit the relevant pull requests)?

[1]https://github.com/stianeikeland/go-rpio/pull/70
[2]https://github.com/stianeikeland/go-rpio/issues/72

[2022-05-05 02:51] RyanZhaoXB commented on #106
hello. do you create the CRD of DeviceModel first? please use `kubectl get crd |grep devicemodels` to check it.

[2022-05-05 02:57] RyanZhaoXB commented on #112
we make it in the code of edgecore and mapper. every mapper on this node subscribes these topics to receive the messages and the mapper will check the device id to determine whether the message should be handled by itself.

[2022-05-05 06:29] RyanZhaoXB commented on #114
hello. please feel free to submit a pr to fix this bug. thanks :)

[2022-05-09 01:21] CreativityH opened #116 "Developing Vision Applications Based on Edge-Cloud Collaborative Lifelong Learning Sedna: Research on Distributed Multi-task Generative Adversarial Network Architecture and Algorithms"
**Background:**
The KubeEdge-Sedna open-source edge-cloud collaborative lifelong learning paradigm is able to handle inference tasks from edge nodes based on multiple historical tasks in the cloud-side knowledge library. The paradigm addresses the key challenges in edge AI, such as small samples and data heterogeneity, through multi-task learning, knowledge base persistence and updates,.etc. Gener

[2022-05-10 06:33] SmileCaoJ opened #118 "Developing a demo for mobile robot navigation and capturing base on KubeEdge"
**Background:**
KubeEdge SIG Robotics focuses on the field of cloud robotics, especially the robot management system based on cloud-edge collaboration architecture. We hope to use open source mobile robot and robotic arm, provide a demo base on KubeEdge open source software components, and complete the following tasks:
1. Implement complete robotic applications, including key functions such as mob

[2022-05-10 10:21] pure-color opened #119 "Simulation Application of Multi-robot Collaboration"
Background:
Multi-robot system has become the development trend of robotics industry.Multi-robot system has better robustness than single robot,and has wider application space.Computer simulation through simulating the process of multi-robot system in the environment to verify the correctness and effectiveness of multi-robot coordination and control.
An open-source campus model is added based on G

[2022-05-10 10:54] JoeyHwong-gk opened #120 "Implementation of an VSLAM Algorithm on KubeEdge"
#### Background:

KubeEdge SIG Robotics is interested in developer toolkits to build robot applications in an easy-to-use way.
Based on this goal, we planning to build some open-source frameworks of application developing, including RoboSDK, a cloud robotics application development suite.
Based on this project, developers can quickly build sensor-interactive, data interaction, and task orchestrati

[2022-05-10 11:26] WintonChan opened #121 "Building a Robot-Oriented Intelligent Monitoring System"
Background:
KubeEdge SIG Robotics focus on the field of cloud robotics, especially the robot management system based on cloud-edge collaboration architecture, but currently lacks a visual, robot-oriented monitoring function. We hope to use open source components such as prometheus to monitor the robot, and we hope to complete the following tasks in the robot virtual-machine simulation environment

[2022-05-11 07:03] xuqiaobo commented on #119
the above issue just states the base information, this topic includes multi-robots collaboration, how to achieve the collaboration, you can use scheduler to handle it. the sub tasks of collaboration maybe use AI Model, you can use all methods you have thought to solve the topic

[2022-05-12 09:09] pure-color commented on #119
Our goal is to need a better solution. We will evaluate and compare the solution in terms of architecture design, performance, and extensibility. We will not only focus on the implementation of orchestration and collaboration.  For example, the model in the additional information (with multiple sensor devices), how to use the model in gazebo, how to improve the loading speed of the model, and so o

[2022-05-13 04:23] SamanthaWangdl commented on #118
Are there any requirements for cabinet doors here? In addition, does the robot arm need to open only one cabinet door or any cabinet door? Thank you.

[2022-05-13 06:07] SmileCaoJ commented on #118
no special requirements for cabinet doors
robot arm need to open only one cabinet door

[2022-05-20 03:00] pure-color commented on #119
hello @junkdood,
1. we're using Gazebo Classic
2. Regarding the opening time of RoboSDK, we are still confirming with the community. It is about before the start of the OSPP program. Of course, you can pay more attention to the latest developments in the community.

[2022-05-21 06:19] marck3131 commented on #119
Hello ,
I read it a couple of times , and trying to understand this issue. All I could grab is , that there is a world file and two models provided , after launching them in gazebo , there has to be an interaction between the two models via publisher subscriber node , or some AI models or different approach.
Please correct me if I'm wrong.
Can you please break it down for me in steps or explain th

[2022-05-23 01:27] WintonChan commented on #121
Please refer to the following video for project proposal submission
https://www.bilibili.com/video/BV1dB4y1C77r?spm_id_from=333.337.search-card.all.click

[2022-05-24 10:55] marck3131 commented on #119
There are many solutions to this issue, looking forward to your solution.

Okay!

[2022-05-24 10:58] marck3131 commented on #119
I am thinking of writing publisher-subscriber codes for the communication between robots.
There are various sensor plugins available to get the data in gazebo. Can also make use of RVIZ to visualize the sensor data if required.

[2022-05-24 10:59] marck3131 commented on #119
Do you have any particular task in mind for some communication between two robots ?

[2022-05-24 11:00] marck3131 commented on #119
Or you'd want to suggest some tasks to get started with?

[2022-05-25 02:30] pure-color commented on #119
You can try to combine multiple open source projects to complete.
For example, the edgemesh in the kubeedge community, of course, there are other not only it.

[2022-06-02 08:54] GauravKumar9920 commented on #121
Is there a video transcript or an English version of the video available...
It would be really helpful !

[2022-11-17 14:21] Deep-Yellow commented on #103
how you solve this problem?